/* 
    Document   : structure
    Created on : 09-abr-2013, 11:06:30
    Author     : David
    Description:
        Ribbonstrap structure (Keep everything at its correct place)
*/

/*
    Main Classes
*/
body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin-top: 155px;
    margin-bottom: 35px;
    background-color: #c9cdd2;
}

.ribbon{       
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    position: fixed;
    top:0;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 3px 6px #373737;
    /*No select text*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;

    overflow: hidden;
}

.ribbon-foot{
    z-index: 90;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    border-top: solid 1px #BEC2C6;
}

.ribbon-pages{
    z-index: 1;
    width: 70%;
    padding: 0px 10px;
}

.ribbon-editor{
    padding: 15px;
    background-color: white;
    border:solid 1px #BEC2C6;
}

.ribbon-content{ 
    padding:  5px;
}

.ribbon-title {
    display: block;
    font-size: 1.1em;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0px;
}

ul{
    padding-left:0;
    padding-right:0;
    margin: 0;
}

li{
    float: left;
    line-height: 20px;
}

/*
    Ribbon Tabs dependent formats
*/
.ribbon-tabs{
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    list-style: none;
    font-size: 1em;   
}

.ribbon-tabs.tabs-below li a{
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    margin-top: -1px;
    margin-bottom: 0;
}

.ribbon-tabs .active a{
    cursor: default; 
    border-bottom: none;
    padding-bottom: 5px;
}

.ribbon-tabs.tabs-below .active a{
    cursor: default; 
    border-top: none;
    padding-top: 5px;
}

.ribbon-tabs li a{
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
    border: transparent solid 1px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding: 4px 10px;
    margin-bottom:-1px;
    margin-right: 5px;    
}

.ribbon-tabs:before, .ribbon-tabs:after{
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.ribbon-tabs .context-tab{
    display: none;
}

.ribbon-tabs .active.context-tab{
    display: none;
}

.ribbon-tabs .main-tab a, .ribbon-tabs .main-tab a:hover,.ribbon-content,
.ribbon-tabs li:not(.active):not(.main-tab) a:hover{
    border: solid 1px;
}

/*
    ribbon-pane dependent format
*/

.ribbon-pane{
    overflow: hidden;
    width: 100%;
}

.ribbon-pane.main-tab {
    position: absolute;
    right: 0;
    bottom:0;
    background-color: white;
    padding: 10px;
}

.ribbon-pane:not(.active){
    display: none;
}

.ribbon-pane.active{
    display: block;
}

.ribbon-pane .ribbon-group{
    float: left;
    height: 75px;
    position: relative;
}

.ribbon-pane .ribbon-separator {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #fff;
    margin: 0 5px;
    height: 75px;
    position: relative;
    width: 0;
    float: left;
}

/*
    ribbon-group dependent format
*/
.ribbon-group .ribbon-btn{
    float: left;
    font-size: 0.85em;
    overflow: hidden;
    line-height: 0.95em;
}

.ribbon-group .ribbon-btn:hover{
    cursor: pointer;
}

.ribbon-group select.ribbon-btn{
    background-color: transparent;
    -moz-appearance: menu-item;
    -webkit-appearance: none;
    appearance: none;
    border:solid 1px #e0e0e0;
    background: url(images/ribbon-arrow.png) right center no-repeat; 
    padding: 3px 9px 3px 3px;
}

.ribbon-group div.ribbon-btn{
    height: 60px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    z-index: 1;
    padding: 2px;
    border: 1px solid transparent;
    background: transparent;
}

.ribbon-group div.ribbon-btn:before{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ribbon-group .group-title{
    color: #666d7c;
    font-size: 0.85em;
    display: block;
    text-align: center;
    clear: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
    ribbon-btn format
*/
.ribbon-btn.btn-small{
    height: 15px !important;
}

.ribbon-btn.btn-middle{
    height: 60px !important;
}

.ribbon-btn i.text-enlarge{
    display: block;
    background: url(images/text_enlarge.png) center center no-repeat;
    width: 15px;
    height: 15px;
}

.ribbon-btn i.text-shrink{/*prepare for sprites*/
    display: block;
    background: url(images/text_shrink.png) center center no-repeat;
    width: 15px;
    height: 15px;
}

.ribbon-btn i.text-bold{/*prepare for sprites*/
    display: block;
    background: url(images/text_bold.png) center center no-repeat;
    width: 15px;
    height: 15px;
}

.ribbon-btn i.text-italic{/*prepare for sprites*/
    display: block;
    background: url(images/text_italic.png) center center no-repeat;
    width: 15px;
    height: 15px;
}

.ribbon-btn i.text-underline{/*prepare for sprites*/
    display: block;
    background: url(images/text_underline.png) center center no-repeat;
    width: 15px;
    height: 15px;
}
.ribbon-btn i.text-subscript{/*prepare for sprites*/
    display: block;
    background: url(images/text_subscript.png) center center no-repeat;
    width: 15px;
    height: 15px;
}

.ribbon-btn img{
    margin: auto;
    display: block;
}

.ribbon-btn span{
    padding-top: 2px;
    clear: left;
    display: block;
    text-align: center;
}

.ribbon-btn.btn-newline{
    clear: both;
}
