/* 
    Document   : structure
    Created on : 09-abr-2013, 11:06:30
    Author     : David
    Description:
        Ribbonstrap structure (Keep everything at its correct place)
*/

/*
    Main Classes
*/
body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin-top: 200px;
    margin-bottom: 35px;
    background-color: #c9cdd2;
}

.ribbon{       
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 3px 6px #373737;
    /*No select text*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;

    overflow: hidden;
}

.ribbon-foot{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
}

.ribbon-pages{
    position: relative;
    z-index: 0;
    width: 70%;
    padding: 0px 10px;
}

.ribbon-editor{
    padding: 15px;
    min-height: 400px;
    background-color: white;
    border:solid 1px #BEC2C6;
}

.ribbon-title {
    font-size: 1.2em;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 10px;
}

ul{
    padding-left:0;
    padding-right:0;
    margin: 0;
}

li{
    float: left;
    line-height: 20px;
}

/*
    Ribbon Tabs dependent formats
*/
.ribbon-tabs{
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    list-style: none;
    font-size: 1em;   
}

.ribbon-tabs.tabs-below li a{
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    margin-top: -1px;
    margin-bottom: 0;
}

.ribbon-content{
    min-height: 80px;    
    padding:  5px;
}

.ribbon-tabs .active a{
    cursor: default; 
    border-bottom: none;
    padding-bottom: 5px;
}

.ribbon-tabs.tabs-below .active a{
    cursor: default; 
    border-top: none;
    padding-top: 5px;
}

.ribbon-tabs li a{
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
    border: transparent solid 1px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding: 4px 10px;
    margin-bottom:-1px;
    margin-right: 5px;    
}

.ribbon-tabs:before, .ribbon-tabs:after{
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.ribbon-tabs .context-tab{
    display: none;
}
.ribbon-tabs .active.context-tab{
    display: none;
}

.ribbon-tabs .main-tab a, .ribbon-tabs .main-tab a:hover,.ribbon-content,
.ribbon-tabs li:not(.active):not(.main-tab) a:hover{
    border: solid 1px;
}

/*
    ribbon-pane dependent format
*/

.ribbon-pane{
    overflow: hidden;
    width: 100%;
}

.ribbon-pane:not(.active){
    display: none;
}

.ribbon-pane.active{
    display: block;
}

.ribbon-pane .ribbon-group{
    float: left;
    position: relative;
    height: 80px;
}

.ribbon-pane .ribbon-separator {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #fff;
    margin: 0 5px;
    height: 75px;
    position: relative;
    width: 0;
    float: left;
}

/*
    ribbon-group dependent format
*/

.ribbon-group .ribbon-btn{
    float: left;
    font-size: 0.85em;
}

.ribbon-group select.ribbon-btn{
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border:solid 1px #e0e0e0;
}

.ribbon-group div.ribbon-btn{
    
}

/*
    ribbon-btn format
*/
.ribbon-btn .btn-small{

}

.ribbon-btn .btn-middle{

}


